---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <div class="welcome-section">
        <h1 class="welcome-title">Collections</h1>
        <p class="welcome-byline">Select a collection to start learning.</p>
        <a href="/aims" class="action-button">100 Python Aims</a>
    </div>
</BaseLayout>
