---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <div class="welcome-section">
        <h1 class="welcome-title">Welcome to 100 Python Aims</h1>
        <p class="welcome-byline">a project by Vedanshu</p>
        <a href="/aims" class="action-button">Continue</a>
    </div>
</BaseLayout>
